<h1> Create New Heroine</h1>

  <% if flash[:errors] %>
  <%flash[:errors].each do |message|  %>
  <li><%=message %></li>
  <% end  %>
  <% end  %>


<%=form_for @heroine do |f|  %>
<%=f.label "name" %>
<%=f.text_field :name %>
<%=f.label "super name"  %>
<%=f.text_field :super_name %>
<%=f.collection_select:power_id, @powers,:id,:name %>
<%=f.submit %>
<% end%>
